* {
  font-family: "Comic Sans MS", cursive !important;
}

body {
  background-color: #f58f40;
}

h1,
h2,
h3,
h4,
h5,
h6,
input {
  color: white !important;
}
td,
th {
  font-size: 18px !important;
  color: white !important;
}

th{
  font-size: 24px !important;
  font-weight: 800 !important;
}